---
layout: post
title:  "Day ??? - ??? Vs ???"
date:   2020-??-?? ??:??:00 -0400
categories: poptarts
---

### Winner: ???!

![day ???]({{ site.baseurl }}/assets/img/rounds/day-???.jpg)

#### ??? scoring:
 * **Middle**:
 * **50/50**:
 * **Edges**:
 * **Dealers Choice**:
 * **Left Over**:
 * **Hot Vs Cold**:

##### ??? scoring:
 * **Middle**:
 * **50/50**:
 * **Edges**:
 * **Dealers Choice**:
 * **Left Over**:
 * **Hot Vs Cold**: